<div class="bg-black w-100 d-block py-4" style="height: calc(100vh - 400px)">
  <div class="responsive-layout py-4">
    <div class="row">
      <div class="col-md-9 mx-auto">
        <div class="d-flex justify-content-between">
          <h3 class="text-white font-weight-bolder my-auto">Transactions</h3>
          <button class="btn btn-warning font-weight-bolder d-inline-flex" (click)="expenseModal('')">
            <i class="fas fa-plus my-auto me-2"></i>
            <span class="my-auto">Transaction</span>
          </button>
        </div>

        <!--<ng-container *ngFor="let transaction of transactionList; let i = index">-->
        <div class="card my-3 border shadow rounded-50">
          <div class="card-body py-4 px-5">
            <!--<h6 class="font-weight-heavy text-black-50 d-inline-flex mb-2">-->
            <!--2 days ago-->
            <!--<small class="fas fa-info-circle my-auto ms-1" [tooltip]="'2 days ago'" [placement]="'right'"></small>-->
            <!--</h6>-->
            <ng-container *ngFor="let transaction of transactionList; let j = index">
              <div class="card border rounded-0 mt-1">
                <div class="card-body px-2">
                  <section class="d-flex justify-content-between px-3">
                    <div class="my-auto d-flex justify-content-start">
                      <i
                        class="fa-solid my-auto me-2"
                        [ngClass]="
                          transaction.type === 'DEBIT'
                            ? 'fa-circle-arrow-down text-danger'
                            : 'text-success fa-circle-arrow-up'
                        "
                      ></i>
                      <h6 class="my-auto font-weight-bolder">{{ transaction.description }}</h6>
                    </div>
                    <div class="d-flex my-auto">
                      <small
                        class="
                          badge
                          bg-info-light
                          border border-info
                          text-theme-primary-dark
                          font-weight-heavy
                          text--size-10 text-uppercase
                          my-auto
                        "
                      >
                        {{ transaction.description }}
                      </small>
                      <b class="font-weight-heavy ms-3">
                        <!--[ngClass]="j % 2 === 0 ? 'text-danger' : 'text-success'"-->
                        ₹{{ transaction.amount }}</b
                      >
                      <span class="switch switch-success switch-xs my-auto ms-3">
                        <label></label>
                        <input [id]="'status'" type="checkbox" class="switch" [checked]="true" />
                        <label [htmlFor]="'status'" class="text--size-15 font-weight-bold"></label>
                      </span>
                      <span class="my-auto d-inline-flex ms-4">
                        <i
                          class="fas fa-edit text-secondary my-auto me-3 cursor-pointer"
                          (click)="expenseModal({ data: '' })"
                        ></i>
                        <i class="fas fa-trash-alt my-auto text-danger-dark cursor-pointer"></i>
                      </span>
                    </div>
                  </section>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <!--</ng-container>-->
      </div>
    </div>
  </div>
</div>

<app-expense-manage-modal [selectedExpense]="selectedExpense"></app-expense-manage-modal>
