<div class="bg-black w-100 d-block py-4" style="height: calc(100vh - 400px)">
  <div class="responsive-layout py-4">
    <div class="row">
      <div class="col-md-9 mx-auto">
        <div class="d-flex justify-content-between">
          <h3 class="text-white font-weight-bolder my-auto">All Transactions</h3>
          <button class="btn btn-warning font-weight-bolder d-inline-flex" (click)="expenseModal('')">
            <i class="fas fa-plus my-auto me-2"></i>
            <span class="my-auto">Transaction</span>
          </button>
        </div>

        <ng-container *ngFor="let item of [].constructor(2); let i = index">
          <div class="card my-3 border-0 shadow rounded-50">
            <div class="card-body py-4 px-5">
              <h6 class="mb-3 font-weight-heavy text-black-50">2 days ago</h6>
              <ng-container *ngFor="let item of [].constructor(5); let j = index">
                <div class="card border rounded-0 mt-1">
                  <div class="card-body">
                    <section class="d-flex justify-content-between px-3">
                      <div class="my-auto d-flex justify-content-start">
                        <i
                          class="fa-solid my-auto me-2"
                          [ngClass]="
                            j % 2 === 0 ? 'fa-circle-arrow-down text-danger' : 'text-success fa-circle-arrow-up'
                          "
                        ></i>
                        <h6 class="my-auto">Dummy Sample Expense Description {{ j * (i + 1) + 1 }}</h6>
                      </div>
                      <div class="d-flex justify-content-end my-auto">
                        <i *ngIf="j % 2 === 0" class="fa-solid fa-paperclip text-theme-primary my-auto me-2"></i>
                        <b class="font-weight-heavy me-3">
                          <!--[ngClass]="j % 2 === 0 ? 'text-danger' : 'text-success'"-->
                          ₹200.00</b
                        >
                        <small
                          class="
                            badge
                            bg-info-light
                            border border-info
                            text-theme-primary-dark
                            font-weight-heavy
                            text--size-10 text-uppercase
                            my-auto
                          "
                        >
                          CATEGORY {{ j * (i + 1) + 1 }}
                        </small>
                        <span class="my-auto d-inline-flex ms-3">
                          <i
                            class="fas fa-edit text-secondary my-auto me-2 cursor-pointer"
                            (click)="expenseModal({ data: '' })"
                          ></i>
                          <i class="fas fa-trash-alt my-auto text-danger-dark cursor-pointer"></i>
                        </span>
                      </div>
                    </section>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<app-expense-manage-modal [selectedExpense]="selectedExpense"></app-expense-manage-modal>
