<div class="bg-black w-100 d-block py-4" style="height: calc(100vh - 400px)">
  <div class="responsive-layout py-4">
    <div class="row">
      <div class="col-md-9 mx-auto">
        <div class="d-flex justify-content-between">
          <h3 class="text-white font-weight-bolder my-auto">Categories</h3>
          <button class="btn btn-warning font-weight-bolder d-inline-flex" (click)="categoryModal('')">
            <i class="fas fa-plus my-auto me-2"></i>
            <span class="my-auto">Category</span>
          </button>
        </div>

        <div class="card my-3 border-0 shadow rounded-50">
          <!--<pre>{{categoryList | json}}</pre>-->
          <div class="card-body px-5">
            <ng-container *ngIf="categoryList.isLoading">
              <li *ngFor="let item of [].constructor(5); let i = index" class="list-group-item">
                <div class="mb-2 card border-0 rounded-0">
                  <div class="card-body p-0">
                    <span class="content-loader d-block rounded" style="height: 60px"></span>
                  </div>
                </div>
              </li>
            </ng-container>

            <ng-container *ngIf="!categoryList.isLoading">
              <ng-container *ngIf="categoryList.data.length">
                <ng-container *ngFor="let category of categoryList.data; let j = index">
                  <div class="card border rounded-0 mt-1">
                    <div class="card-body px-4 py-2">
                      <section class="d-flex justify-content-between px-3">
                        <div class="my-auto">
                          <h6 class="mb-0 font-weight-bolder">{{ category.name }}</h6>
                          <small>{{ category.description }}</small>
                        </div>
                        <div class="d-flex justify-content-end my-auto">
                          <small
                            [ngClass]="
                              category.type === 'DEBIT'
                                ? 'bg-danger-light border-danger text-danger-dark'
                                : 'bg-success-light border-success text-success-dark'
                            "
                            class="badge border font-weight-heavy text-uppercase my-auto me-3"
                          >
                            {{ category.type }}
                          </small>
                          <small class="text-warning-dark font-weight-bold my-auto me-2" *ngIf="category.transactions">
                            {{ category.transactions }} Transaction(s)
                          </small>
                          <span class="switch switch-success switch-xs my-auto mx-3">
                            <label></label>
                            <input
                              (change)="updateCategory(category)"
                              [id]="'status' + j"
                              type="checkbox"
                              class="switch"
                              [(ngModel)]="category.status"
                            />
                            <label [htmlFor]="'status' + j" class="text--size-15 font-weight-bold"></label>
                          </span>
                          <span class="my-auto d-inline-flex">
                            <i
                              class="fas fa-edit text-secondary my-auto me-3 cursor-pointer"
                              (click)="categoryModal(category)"
                            ></i>
                            <i class="fas fa-trash-alt my-auto text-danger-dark cursor-pointer"></i>
                          </span>
                        </div>
                      </section>
                    </div>
                  </div>
                </ng-container>
              </ng-container>

              <ng-container *ngIf="!categoryList.data.length">
                <div class="text-center p-5">
                  <img src="https://cdn-icons-png.flaticon.com/512/5058/5058372.png" width="80" alt="not-found" />
                  <h4 class="text-secondary mt-3 font-weight-bolder">No category data to show</h4>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-category-manage-modal
  [selectedCategory]="selectedCategory"
  (refreshCategoryList)="refreshCategoryList($event)"
></app-category-manage-modal>
