<div
  class="modal fade side-sheet-modal-xs animate__animated animate__slideInRight"
  bsModal
  #categoryManageModal="bs-modal"
  [config]="{ backdrop: true, ignoreBackdropClick: true }"
>
  <div class="modal-dialog position-fixed right-0 m-0 shadow-lg" style="max-width: max-content">
    <div class="modal-content vh-100 rounded-0 border-0 overflow-auto">
      <div class="modal-header border-0 px-4 d-flex justify-content-between">
        <h4 class="my-auto font-weight-heavy">{{ config.isEdit ? 'Edit' : 'New' }} Category</h4>
        <button
          type="button"
          class="close btn pull-right btn-white border-0 shadow-none my-auto p-0"
          (click)="closeModal()"
        >
          <span class="text--size-25 font-weight-bolder text-secondary">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>
