<nav
  class="navbar w-100 d-flex justify-content-between font-weight-bolder px-5 bg-black"
  [ngClass]="config.auth ? 'py-2' : 'py-3'"
>
  <div class="d-flex justify-content-start">
    <h5 class="my-auto font-weight-heavy d-inline-flex text-warning">
      <span class="my-auto">Expense Tracker</span>
    </h5>
    <ng-container *ngIf="config.auth">
      <a
        [routerLink]="'/expense/dashboard'"
        [routerLinkActive]="'font-weight-heavy'"
        class="my-auto btn btn-link ms-4 ps-4 text-white bg-black text-decoration-none d-inline"
      >
        <i class="fa-solid fa-chart-simple my-auto me-2 text-danger"></i>
        <span class="my-auto">Dashboard</span>
      </a>
      <a
        [routerLink]="'/expense/transactions'"
        [routerLinkActive]="'font-weight-heavy'"
        class="my-auto btn btn-link text-white bg-black text-decoration-none"
      >
        Transactions
      </a>
      <a
        [routerLink]="'/expense/category'"
        [routerLinkActive]="'font-weight-heavy'"
        class="my-auto btn btn-link text-white bg-black text-decoration-none"
      >
        Categories
      </a>
    </ng-container>
  </div>

  <div class="my-auto d-flex justify-content-end">
    <!--if auth-->
    <ng-container *ngIf="config.auth">
      <div class="btn-group" dropdown>
        <button dropdownToggle type="button" class="btn btn-dark d-inline-flex justify-content-start border-0">
          <img
            [src]="
              'https://ui-avatars.com/api/?rounded=true&name=' +
              userDetails.name +
              '&size=28&bold=true&background=F9C10A'
            "
            alt="user-avatar"
            class="my-auto"
          />
          <span class="my-auto mx-2 text-capitalize">
            Hi, <b class="font-weight-heavy">{{ userDetails.name && userDetails.name.split(' ')[0] }}</b>
          </span>
          <i class="fa-solid fa-caret-down my-auto"></i>
        </button>
        <ul *dropdownMenu class="dropdown-menu shadow border-0" style="min-width: 200px">
          <li class="cursor-pointer" (click)="userProfileDetails.show()">
            <a class="dropdown-item font-weight-bold d-inline-flex cursor-pointer"> Account Details </a>
          </li>
          <li class="divider dropdown-divider"></li>
          <li class="cursor-pointer" (click)="logout()">
            <a class="dropdown-item text-danger font-weight-bold d-inline-flex justify-content-between">
              <span class="my-auto">Logout</span>
              <i class="fa-solid fa-arrow-right-from-bracket my-auto"></i>
            </a>
          </li>
        </ul>
      </div>
    </ng-container>

    <!--if no auth-->
    <ng-container *ngIf="!config.auth">
      <a
        *ngIf="config.show === 'login'"
        [routerLink]="['/']"
        [queryParams]="{ show: 'register' }"
        class="d-inline-flex btn btn-warning my-auto font-weight-bolder me-4"
      >
        <span class="my-auto">Register Now</span>
        <i class="fas fa-arrow-right my-auto ms-2"></i>
      </a>

      <a
        *ngIf="config.show === 'register'"
        [routerLink]="['/']"
        [queryParams]="{ show: 'login' }"
        class="
          btn btn-link
          shadow-none
          text--size-15 text-warning text-decoration-none
          d-inline
          font-weight-bolder
          my-auto
        "
      >
        <i class="fas fa-lock my-auto me-2"></i>
        <span class="my-auto">Continue Login</span>
      </a>
    </ng-container>
  </div>
</nav>

<!--account profile in modal-->
<div
  class="modal fade animate__animated animate__fadeIn mt-5"
  bsModal
  #userProfileDetails="bs-modal"
  [config]="{ backdrop: true, ignoreBackdropClick: true }"
>
  <div class="modal-dialog shadow-lg modal-sm">
    <div class="modal-content px-2 rounded-0 border-0">
      <div class="modal-header border-0 d-flex justify-content-between">
        <h5 class="my-auto font-weight-bolder">Account Details</h5>
        <button
          type="button"
          class="close btn pull-right my-auto btn-white border-0"
          (click)="userProfileDetails.hide()"
        >
          <span class="text--size-25 text-secondary">&times;</span>
        </button>
      </div>
      <div class="card border-0">
        <div class="card-body px-0 pt-0">
          <ul class="list-group list-group-flush">
            <li class="list-group-item border-0 font-weight-bold py-1">
              <small class="text-secondary d-block">Your Name</small>
              {{ userDetails.name }}
            </li>
            <li class="list-group-item border-0 font-weight-bold py-1">
              <small class="text-secondary d-block">Registered Email</small>
              {{ userDetails.email || '-------' }}
            </li>
            <li class="list-group-item border-0 font-weight-bold py-1 text-capitalize">
              <small class="text-secondary d-block">Session Expires</small>
              <span class="text-danger">
                {{
                  userDetails.exp
                    ? moment(userDetails.exp * 1000)
                        .endOf('hour')
                        .fromNow()
                    : '-------'
                }}
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="modal-footer border-0 bg-white">
      <button (click)="logout()" class="btn btn-danger font-weight-bolder w-100" [disabled]="false">Logout</button>
    </div>
  </div>
</div>

<div class="container-fluid px-0">
  <router-outlet></router-outlet>
</div>
