<div class="responsive-layout">
  <div class="row">
    <div class="col-md-8 mx-auto my-3">
      <ng-lottie [options]="options" width="280px" height="280px"></ng-lottie>
      <h1 class="font-weight-heavy">Oops! Page not found</h1>
      <h5 class="my-auto high-z-index">
        The page you are looking for either doesn't exist or removed recently. Contact site administrator if the problem
        still persists.
      </h5>
      <a [routerLink]="'/welcome'" class="btn-warning font-weight-bolder d-inline-flex mt-4 btn">
        <i class="fas fa-arrow-left my-auto me-2"></i>Return to Home
      </a>
    </div>
  </div>
</div>
