/*overriding bootstrap default style rules*/

/*accordion related*/
.panel-heading.card-header {
  padding: 0;
  border: 0;
}
.panel .card-body {
  padding: 0;
}

/*modal related*/
.modal-backdrop {
  background: var(--warning-color-shade--dark);
}
.modal-dialog {
  pointer-events: auto;
}
.modal-backdrop.show {
  opacity: 0.25;
}

/*input type option*/
input[type='text'],
input[type='password'],
input[type='email'],
input[type='number'] {
  height: 40px;
}

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0;
  outline-color: transparent;
  outline-width: 0;
  outline-style: none;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
}

/*toastify plugin style override*/
.toastify.danger {
  background: linear-gradient(135deg, #cc4a01, #e23839);
}
.toastify.success {
  background: linear-gradient(135deg, #65b461, #4b9f47);
}
.toastify.warning {
  background: linear-gradient(135deg, #f9a634, #f38232);
}
.toastify.info {
  background: linear-gradient(135deg, #4e96fb, #1a71fb);
}
.toast-close {
  margin-left: 2.5rem;
}

/*ngx bootstrap override*/
.bs-datepicker {
  box-shadow: none !important;
}
.bs-datepicker-container {
  padding: 0 !important;
}
.bs-datepicker-head,
.bs-datepicker-body table td span.selected,
.bs-datepicker-body table td.selected span,
.bs-datepicker-body table td span[class*='select-']:after,
.bs-datepicker-body table td[class*='select-'] span:after {
  background-color: var(--warning-color-shade) !important;
}
.bs-datepicker-head button,
.bs-datepicker-body table td span.selected,
.bs-datepicker-body table td,
.bs-datepicker-body table td.selected span {
  color: var(--black-color) !important;
  font-weight: bold !important;
}
.bs-datepicker-body table td.week span {
  color: var(--warning-color-shade) !important;
  font-weight: bolder !important;
}
