/* CSS custom properties overrides (variables) */
:root {
  --primary-color-shade: #2f47c2;
  /*--primary-color-shade: #095FD4;*/
  --primary-color-shade--light: #d8e7ff;
  --primary-color-shade--lightest: #ecf5ff;
  --primary-color-shade--dark: #213289; /*#253899*/
  --primary-color-shade--darker: #010c40;

  --black-color: #000000;
  --white-color: #ffffff;

  --dark-color-shade: #2c2f3b;
  --light-color-shade: #f8f9fa;

  --success-color-shade: #12a83f;
  --success-color-shade-light: #64ee8e;
  --success-color-shade--lightest: #d9ffe4;
  --success-color-dark: #0a6425;

  --warning-color-shade: #f9c10a;
  --warning-color-shade--dark: #493400;
  --warning-color-shade--lightest: #fefae5;

  --info-color-shade--lightest: #e2f6f9;
  --info-color-shade--dark: #17a2b8;

  --danger-color-shade: #ea4c5f;
  --danger-color-shade--lightest: #ffeaec;
  --danger-color-shade-dark: #be162a;

  --grey-color-shade: #616161;
  --grey-color-shade--light: #adadad;
  --grey-color-shade--lighter: #e3e3e3;
  --grey-color-shade--lightest: #efefef;
}
